# Dependencies
node_modules/
package-lock.json

# Build output
dist/
dist-ssr/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite cache
.vite/
node_modules/.vite/
node_modules/.cache/

# Temporary files
*.tmp
*.temp
/tmp/
.cache/

# Environment variables
.env
.env.local
.env.*.local

# OS files
Thumbs.db
.DS_Store
